@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff") ;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff") ;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

:root {
  --basic-green: #849D8F;
  --basic-black: #323232;
  --basic-white: #FFFFFF;
  --basic-grey: #5A5A5A;
  --basic-light: #999999;
  --basic-lighter: #F8F7F4;
  --button-color: #f26843;
  --button-color-2: #E74A35;
  --button-shadow: rgba(172, 16, 0, 0.64);
  --catalog-background: #D07058;
  --cart-price: #ABABAB;
  --background-lighter: rgba(255, 255, 255, 0.2);
}

html {

}

body {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 22px;
  color: var(--basic-white);
  background: var(--basic-green);
}

.site-navigation a {
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-white);
}

.site-navigation li {
  list-style: none;
}

.user-navigation li {
  list-style: none;
  margin-right: 10px;
}

.underline {
  text-decoration: underline;
}

.menu-list-item a {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
  text-decoration: none;
}

.new {
  font-size: 14px;
  line-height: 18px;
}

.login-link, .empty-cart {
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  color: var(--basic-white);
  text-decoration: none;
}

.work-time-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: var(--basic-white);
  text-decoration: none;
  margin-bottom: 8px;
}

.telephone-number-link {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--basic-white);
}

.main-title-text {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.buttons {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.buttons:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.buttons:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.give-both {
  font-size: 32px;
  line-height: 44px;
}

.hot-offer-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  padding-left: 16px;
  margin-bottom: 0;
  margin-top: 16px;
}

.hot-offer-description {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  padding-left: 16px;
  padding-right: 30px;
  margin-bottom: 42px;
}

.want-button {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 10px;
  margin-right: 22px;
  margin-bottom: 22px;
}

.offer-raspberry {
  background-image: url("../img/raspberry_background.png");
  width: 560px;
  min-height: 229px;
}

.offer-chocolate {
  background-image: url("../img/chocolate_background.png");
  width: 560px;
  min-height: 229px;
}

.icecream-price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.weight {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.icecream-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
}

.fast-view {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.advantage-item {
  color: var(--basic-black);
  list-style: none;
  width: 49%;
}

.advantages-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black)
}

.main-advantages-wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.blog-title {
  font-weight: 500;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.blog-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.blog-image {
  background-image: url("../img/strawberry_background.jpg");
  width: 560px;
  min-height: 220px;
  border-radius: 16px;
  background-size: cover;
}

.email-text {
  color: var(--basic-grey);
  padding: 0;
  margin: 0;
}

.email-input {
  background-color: var(--basic-white);
  height: 44px;
  width: 99%;
  border-radius: 6px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  margin-right: 10px;
  padding-left: 14px;
  transition: all 0.5s ease;
  font-weight: bold;
  color: var(--basic-black);
}

.email-input::placeholder {
  color: #999999;
  font-weight: normal;
}

.email-input:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
}

.email-input:focus-visible, .email-input:focus, .email-input:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}

.address-header {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-black)
}

.address {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black)
}

.contact-header {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-black)
}

.telephone-number {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black)
}

.work-time {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-black);
}

.feedback {
  font-size: 18px;
  line-height: 24px;
  margin-top: 30px;
}

.about-us-list {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  width: 61%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.about-us-list a {
  color: var(--basic-white)
}

.for-suppliers {
  font-weight: bold;
}

.html-link {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.vaffel-advantage {
  background-image: url("../img/vaffel_background.png");
  background-size: cover;
  border-radius: 16px;
}

.email {
  background-image: url("../img/email_background.png");
  background-size: cover;
  width: 560px;
  padding: 5px 0;
  background-color: var(--basic-lighter);
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.email-wrap {
  position: relative;
  background-color: var(--basic-lighter);
  margin: 0;
  padding: 28px 20px 30px 20px;
  line-height: 22px;
  border-radius: 16px;
}

.email-submit {
  display: flex;
  align-items: center;
  margin-top: 47px;
}

.email-submit-button {
  padding: 10px;
  font-size: 18px;
  line-height: 24px;
}

.contacts {
  background-color: var(--basic-white);
  border-radius: 16px;
  width: 303px;
  height: 306px;
  position: absolute;
  right: 21%;
  top: 13%;
  padding: 20px;
}

.item-preview img {
  background-color: var(--basic-green);
}

.item-preview {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.made-in {
  color: var(--basic-white)
}

.html-link {
  text-decoration: none;
}

.html {
  text-decoration: underline;
}

.social-list li {
  list-style: none;
}

.about-us-list li {
  list-style: none;
  width: 50%;
  white-space: nowrap;
  padding-top: 5px;
}

.catalog {
  font-weight: bold;
  line-height: 18px;
  background-color: var(--catalog-background);
  border-radius: 26px;
  text-decoration: none;
}

.cart-items {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 20px;
}

.cart-table {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-black);
}

.cart-totalprice {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}

.cart-item-price {
  color: var(--cart-price)
}

.cart-button {
  text-decoration: none;
}

.breadcrumb-item-list a {
  text-decoration: none;
  color: var(--basic-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumb-item-list {
  list-style: none;
  margin-right: 22px;
}

.breadcrumb-item-list .underline {
  text-decoration: underline;
}

.icecream-main-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.sort-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.pages a {
  text-decoration: none;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.active-list a {
  color: var(--basic-black);
  background: var(--basic-white);
  border-radius: 50%;
}

.total-cart-price {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}

.cart-button {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  background-color: var(--button-color) 0%, var(--button-color-2) 100%;
  box-shadow: 0px 2px 2px var(--button-shadow);
  border-radius: 26px;
}

.sort-by {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
}

.filter-list li {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.submit-sort-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  width: 144px;
  height: 36px;
  margin-left: 14px;
}

.filter-background {
  background-color: var(--background-lighter);
  border-radius: 20px;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;

}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation-wrapper {
  display: flex;
}

.site-navigation{
  display: flex;
}

.site-navigation-list:not(:nth-child(1)) {
  margin-left: 32px;
}

.user-navigation {
  display: flex;
}

.work-time-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 27px;
}

.main-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.icecream-image {
  align-self: center;
}

.title-slides {
  text-align: center;
}

.slide-button {
  width: 360px;
}

.menu-list {
  display: none;
}

.login-form {
  display: none;
}

.search-input {
  display: none;
}

.hot-offers {
  display: grid;
  justify-content: center;
  grid-template-columns: min-content min-content;
  grid-column-gap: 26px;
}

.item-preview-list {
  display: grid;
  justify-content: center;
  grid-template-columns: min-content min-content min-content min-content;
  grid-column-gap: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.main-advantages {
  padding: 24px 23px 36px 20px;
  width: 1160px;
  margin: 0 auto;
}

.blog-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.breadcrumb-items {
  display: flex;
}

.sorting-container {
  display: flex;
}

.filter-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.sort {
  margin-right: 15px;
}

.fill-wrapper {
  display: flex;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pages-list {
  list-style: none;
  margin-right: 20px;
}

.active-list {
  margin: 0 12px 16px;
  list-style: none;
}

.previous-page-button {
  list-style: none;
}

.next-page-button {
  list-style: none;
}

.cart-table-wrapper {
  display: none;
}

.second-title-slide {
  display: none;
}

.third-title-slide {
  display: none;
}

.social-list li {
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.social-link {
  display: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.about-us-wrapper {
  padding-left: 148px;
}

.logo-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 27px;
}

.site-wrapper {
  min-width: 940px;
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 42px;
}

.site-wrapper-1 {
  background-image: url("../img/icecream.png");
}

.site-wrapper-2 {
  background-image: url("../img/icecream2.png");
}

.site-wrapper-3 {
  background-image: url("../img/icecream3.png");
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1200px;
  position: relative;
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: #ffffff;
}

.about {
  display: flex;
  justify-content: center;
  position: relative;
}

.blog {
  padding: 20px;
}

.footer-container {
  margin-top: 18px;
}
